@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400|Raleway:400');

@font-face {
                          font-family: "OpenSans-Regular";
                          src: url('../fonts/OpenSans-Regular.ttf') format("truetype");
                        }
                        
.aboutme {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 1492px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
  opacity             : 1.0;
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.aboutme .navbar {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 108px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.aboutme .glassesright150 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 30px;
  height              : 51px;
  width               : 139px;
  position            : absolute;
  margin              : 0;
  left                : 651px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.aboutme .headerselection {
  background-color    : rgba(71, 181, 250, 1.0);
  top                 : 0px;
  height              : 108px;
  width               : 202px;
  position            : absolute;
  margin              : 0;
  left                : 876px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.aboutme .frame {
  background-color    : rgba(71, 181, 250, 1.0);
  top                 : 305px;
  height              : 630px;
  width               : 504px;
  position            : absolute;
  margin              : 0;
  left                : 758px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.aboutme .portfolio {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39px;
  height              : auto;
  width               : 134px;
  position            : absolute;
  margin              : 0;
  left                : 197px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Light", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 33.0px;
}
.aboutme .resume {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39px;
  height              : auto;
  width               : 94px;
  position            : absolute;
  margin              : 0;
  left                : 442px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Light", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 33.0px;
}
.aboutme .aboutme1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39px;
  height              : auto;
  width               : 124px;
  position            : absolute;
  margin              : 0;
  left                : 915px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Light", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 33.0px;
}
.aboutme .linkedin {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39px;
  height              : auto;
  width               : 109px;
  position            : absolute;
  margin              : 0;
  left                : 1129px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Light", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 33.0px;
}
.aboutme .iu2019mabilingualliv {
  background-color    : rgba(255,255,255,0.0);
  top                 : 306px;
  height              : auto;
  width               : 547px;
  position            : absolute;
  margin              : 0;
  left                : 197px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Raleway", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 0.2px;
  line-height         : 24.0px;
}
.aboutme .screenshot20190821at12008pm {
  background-color    : rgba(255,255,255,0.0);
  top                 : 324px;
  height              : 592px;
  width               : 461px;
  position            : absolute;
  margin              : 0;
  left                : 780px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.aboutme .himynameisnick {
  background-color    : rgba(255,255,255,0.0);
  top                 : 154px;
  height              : auto;
  width               : 504px;
  position            : absolute;
  margin              : 0;
  left                : 200px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Libre Baskerville", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 40.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.aboutme .himynameisnick .span1 {
  line-height         : 50.0px;
}
.aboutme .himynameisnick .span2 {
  font-family         : "Avenir-Book", Helvetica, Arial, serif;
  font-size           : 20.0px;
  line-height         : 27.0px;
}
.aboutme .footer {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 1318px;
  height              : 174px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.aboutme .iconmonstrlinkedin5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1387px;
  height              : 37px;
  width               : 37px;
  position            : absolute;
  margin              : 0;
  left                : 200px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.aboutme .iconmonstrlinkedin5 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 37px;
  width               : 37px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.aboutme .linkedin1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1390px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 244px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Book", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 33.0px;
}
.aboutme .lipbochudgmailcom {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1390px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 938px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Book", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 33.0px;
}
.aboutme .behance {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1390px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 499px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Book", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 33.0px;
}
.aboutme .iconmonstrbehance5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1387px;
  height              : 37px;
  width               : 37px;
  position            : absolute;
  margin              : 0;
  left                : 455px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.aboutme .iconmonstrbehance5 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 37px;
  width               : 37px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.aboutme .iconmonstrgmail5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1387px;
  height              : 37px;
  width               : 37px;
  position            : absolute;
  margin              : 0;
  left                : 894px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.aboutme .iconmonstrgmail5 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 37px;
  width               : 37px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}