
@font-face {
                          font-family: "Ayuthaya";
                          src: url('../fonts/Ayuthaya.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "OpenSans-Regular";
                          src: url('../fonts/OpenSans-Regular.ttf') format("truetype");
                        }
                        
.portfolio {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 1759px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.portfolio .navbar {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 112px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.portfolio .glassesfelipebochud {
  background-color    : rgba(255,255,255,0.0);
  top                 : 31px;
  height              : 51px;
  width               : 140px;
  position            : absolute;
  margin              : 0;
  left                : 650px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.portfolio .rectangle {
  background-color    : rgba(71, 181, 250, 1.0);
  top                 : 0px;
  height              : 112px;
  width               : 202px;
  position            : absolute;
  margin              : 0;
  left                : 168px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.portfolio .portfolio1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 196px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Avenir-Light", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 33.0px;
}
.portfolio .resume {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 441px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Avenir-Light", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 33.0px;
}
.portfolio .aboutme {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 914px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Avenir-Light", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 33.0px;
}
.portfolio .linkedin {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1128px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Avenir-Light", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 33.0px;
}
.portfolio .futureprojectswill {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1447px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 300px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Ayuthaya", Helvetica, Arial, serif;
  font-size           : 40.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 56.0px;
}
.portfolio .stanfordprojectcover {
  background-color    : rgba(255,255,255,0.0);
  top                 : 601px;
  height              : 357px;
  width               : 1045px;
  position            : absolute;
  margin              : 0;
  left                : 197px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.portfolio .cloverprojectcover {
  background-color    : rgba(255,255,255,0.0);
  top                 : 194px;
  height              : 357px;
  width               : 1045px;
  position            : absolute;
  margin              : 0;
  left                : 197px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.portfolio .cloverprojectcoverblue {
  background-color    : rgba(255,255,255,0.0);
  top                 : 601px;
  height              : 357px;
  width               : 1045px;
  position            : absolute;
  margin              : 0;
  left                : 197px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.0;
  transition          : all 0.2s ease-in-out;
}
.portfolio .cloverprojectcoverblue:hover {
  opacity             : 1;
}
.portfolio .cloverprojectcoverblue2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 194px;
  height              : 357px;
  width               : 1045px;
  position            : absolute;
  margin              : 0;
  left                : 197px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.0;
  transition          : all 0.2s ease-in-out;
}
.portfolio .cloverprojectcoverblue2:hover {
  opacity             : 1;
}
.portfolio .cheffiguracover {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1008px;
  height              : 357px;
  width               : 1045px;
  position            : absolute;
  margin              : 0;
  left                : 197px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.portfolio .cheffiguracoverblue {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1008px;
  height              : 357px;
  width               : 1045px;
  position            : absolute;
  margin              : 0;
  left                : 197px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.0;
  transition          : all 0.2s ease-in-out;
}
.portfolio .cheffiguracoverblue:hover {
  opacity             : 1;
}
.portfolio .footer {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 1585px;
  height              : 174px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.portfolio .social {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1619px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 259px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Ayuthaya", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 42.0px;
}
.portfolio .contact {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1623px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 657px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Ayuthaya", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 42.0px;
}
.portfolio .glassesfelipebochud1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1585px;
  height              : 160px;
  width               : 280px;
  position            : absolute;
  margin              : 0;
  left                : 1003px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.portfolio .linkedin1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1673px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 197px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Avenir-Book", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 22.0px;
}
.portfolio .lipbochudgmailcom {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1678px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 642px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Avenir-Book", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 22.0px;
}
.portfolio .behance {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1673px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 291px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Avenir-Book", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 22.0px;
}
.portfolio .dribbble {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1674px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 390px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Avenir-Book", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 22.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}