
@font-face {
                          font-family: "Ayuthaya";
                          src: url('../fonts/Ayuthaya.ttf') format("truetype");
                        }
                        
.portfolio {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 2409px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.portfolio .navbar {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 112px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.portfolio .glassesright150 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 30px;
  height              : 51px;
  width               : 139px;
  position            : absolute;
  margin              : 0;
  left                : 651px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.portfolio .rectangle {
  background-color    : rgba(71, 181, 250, 1.0);
  top                 : 0px;
  height              : 112px;
  width               : 202px;
  position            : absolute;
  margin              : 0;
  left                : 163px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.portfolio .portfolio1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 196px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Avenir-Light", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 33.0px;
}
.portfolio .resume {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 441px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Avenir-Light", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 33.0px;
}
.portfolio .aboutme {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 914px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Avenir-Light", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 33.0px;
}
.portfolio .linkedin {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1128px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Avenir-Light", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 33.0px;
}
.portfolio .futureprojectswill {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1929px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 291px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Ayuthaya", Helvetica, Arial, serif;
  font-size           : 40.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 56.0px;
}
.portfolio .stanfordprojectcover {
  background-color    : rgba(255,255,255,0.0);
  top                 : 975px;
  height              : 357px;
  width               : 1045px;
  position            : absolute;
  margin              : 0;
  left                : 198px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.portfolio .cloverprojectcover {
  background-color    : rgba(255,255,255,0.0);
  top                 : 568px;
  height              : 357px;
  width               : 1045px;
  position            : absolute;
  margin              : 0;
  left                : 198px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.portfolio .cloverprojectcoverblue {
  background-color    : rgba(255,255,255,0.0);
  top                 : 975px;
  height              : 357px;
  width               : 1045px;
  position            : absolute;
  margin              : 0;
  left                : 198px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.0;
  transition          : all 0.2s ease-in-out;
}
.portfolio .cloverprojectcoverblue:hover {
  opacity             : 1;
}
.portfolio .cloverprojectcoverblue2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 568px;
  height              : 357px;
  width               : 1045px;
  position            : absolute;
  margin              : 0;
  left                : 198px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.0;
  transition          : all 0.2s ease-in-out;
}
.portfolio .cloverprojectcoverblue2:hover {
  opacity             : 1;
}
.portfolio .cheffiguracover {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1382px;
  height              : 357px;
  width               : 1045px;
  position            : absolute;
  margin              : 0;
  left                : 198px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.portfolio .cheffiguracoverblue {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1382px;
  height              : 357px;
  width               : 1045px;
  position            : absolute;
  margin              : 0;
  left                : 198px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.0;
  transition          : all 0.2s ease-in-out;
}
.portfolio .cheffiguracoverblue:hover {
  opacity             : 1;
}
.portfolio .clippercoverwebsitewhite {
  background-color    : rgba(255,255,255,0.0);
  top                 : 161px;
  height              : 357px;
  width               : 1045px;
  position            : absolute;
  margin              : 0;
  left                : 198px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.portfolio .clippercoverwebsiteblue {
  background-color    : rgba(255,255,255,0.0);
  top                 : 161px;
  height              : 357px;
  width               : 1045px;
  position            : absolute;
  margin              : 0;
  left                : 198px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.0;
  transition          : all 0.2s ease-in-out;
}
.portfolio .clippercoverwebsiteblue:hover {
  opacity             : 1;
}
.portfolio .iconmonstrlinkedin5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2304px;
  height              : 37px;
  width               : 37px;
  position            : absolute;
  margin              : 0;
  left                : 200px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.portfolio .iconmonstrlinkedin5 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 37px;
  width               : 37px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.portfolio .linkedin1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2307px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 244px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Avenir-Book", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 33.0px;
}
.portfolio .lipbochudgmailcom {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2307px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 938px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Avenir-Book", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 33.0px;
}
.portfolio .behance {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2307px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 499px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Avenir-Book", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 33.0px;
}
.portfolio .iconmonstrbehance5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2304px;
  height              : 37px;
  width               : 37px;
  position            : absolute;
  margin              : 0;
  left                : 455px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.portfolio .iconmonstrbehance5 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 37px;
  width               : 37px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.portfolio .iconmonstrgmail5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2304px;
  height              : 37px;
  width               : 37px;
  position            : absolute;
  margin              : 0;
  left                : 894px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.portfolio .iconmonstrgmail5 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 37px;
  width               : 37px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}