
@font-face {
                          font-family: "Ayuthaya";
                          src: url('../fonts/Ayuthaya.ttf') format("truetype");
                        }
                        
.stanfordcreditunion {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 6769px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.stanfordcreditunion .navbar {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 112px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.stanfordcreditunion .portfolio {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 196px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Avenir-Light", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 33.0px;
}
.stanfordcreditunion .resume {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 441px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Avenir-Light", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 33.0px;
}
.stanfordcreditunion .aboutme {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 914px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Avenir-Light", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 33.0px;
}
.stanfordcreditunion .linkedin {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1128px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Avenir-Light", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 33.0px;
}
.stanfordcreditunion .stanfordcreditunionprojectnew {
  background-color    : rgba(255,255,255,0.0);
  top                 : 124px;
  height              : 6365px;
  width               : 1048px;
  position            : absolute;
  margin              : 0;
  left                : 194px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.stanfordcreditunion .footer {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 6595px;
  height              : 174px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.stanfordcreditunion .glassesright150 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 30px;
  height              : 51px;
  width               : 139px;
  position            : absolute;
  margin              : 0;
  left                : 651px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.stanfordcreditunion .iconmonstrlinkedin5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6663px;
  height              : 37px;
  width               : 37px;
  position            : absolute;
  margin              : 0;
  left                : 200px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.stanfordcreditunion .iconmonstrlinkedin5 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 37px;
  width               : 37px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.stanfordcreditunion .linkedin1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6666px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 244px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Avenir-Book", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 33.0px;
}
.stanfordcreditunion .lipbochudgmailcom {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6666px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 938px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Avenir-Book", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 33.0px;
}
.stanfordcreditunion .behance {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6666px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 499px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Avenir-Book", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 33.0px;
}
.stanfordcreditunion .iconmonstrbehance5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6663px;
  height              : 37px;
  width               : 37px;
  position            : absolute;
  margin              : 0;
  left                : 455px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.stanfordcreditunion .iconmonstrbehance5 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 37px;
  width               : 37px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.stanfordcreditunion .iconmonstrgmail5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6663px;
  height              : 37px;
  width               : 37px;
  position            : absolute;
  margin              : 0;
  left                : 894px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.stanfordcreditunion .iconmonstrgmail5 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 37px;
  width               : 37px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}